<html>
  <head>
    <title>About</title>
    {% load static %}
    {% include "bootstrap.html" %}
    {% include "navigation.html" %}
    <link rel = "stylesheet" href = "{% static 'Organizer.css' %}" />
  </head>
  <body>
    <h2>CINS 465: Midterm Organizer Luke Hazelton</h2>
    <p>Hey, my name is Luke Hazelton. I'm a junior studying computer science at CSU Chico. Some things I enjoy are snow boarding, playing video games or just spending time with friends. I would say a major goal of mine would be to get a well paying job that I enjoying doing.</p>

    <div class="col-3">
        <img src="{%static 'mypic.JPG'%}" class="img-fluid" />
    </div>

  </body>
</html>
